[data-theme="dark"] p {
    color: rgb(211, 207, 207);
}
[data-theme="dark"] input {
    color: rgb(255, 255, 255);
}
[data-theme="dark"] .border {
    color: rgb(255, 255, 255);
    border: 1px solid red;
    background: transparent;
}
[data-theme="dark"] .brands {
    background: #373b44;
}
[data-theme="dark"] h2 {
   color: rgb(255, 85, 85);
}
[data-theme="dark"] h1 {
   color: rgb(255, 85, 85);
}
[data-theme="dark"] .red {
   color: rgb(255, 85, 85);
}
[data-theme="dark"] .nav {
   color: rgb(255, 255, 255);
}
[data-theme="dark"] .footer-text {
   color: rgb(255, 255, 255);
}
[data-theme="dark"] .nav:hover {
  background-color: rgb(80, 79, 79);
  color: rgb(65, 64, 64);
}
[data-theme="dark"] .dark-bg {
  background-color: rgb(80, 79, 79);
  color: rgb(65, 64, 64);
}
[data-theme="dark"] .dark-bg p {

  color: rgb(231, 231, 231);
}
[data-theme="dark"] .dark-bg h5 {

  color: rgb(255, 85, 85);
}
[data-theme="dark"] .addprod {

  color: white;
}
[data-theme="dark"] .login {

  color: rgb(0, 0, 0);
}

 